sudo: required
dist: trusty
language: node_js
node_js:
    - "8.9.0"

env:
  global:
    - S3_TEST_BUCKET_NAME="s3-daison-test-templates-01"
    - S3_DEV_BUCKET_NAME="s3-daison-dev-templates-01"
    - REGION="eu-west-2"

before_install:
  - echo 'Building templates version ' $TRAVIS_BUILD_NUMBER
  - pip install --user awscli
  - aws configure set aws_access_key_id $DEV_AWS_ACCESS_KEY_ID --profile dev
  - aws configure set aws_secret_access_key $DEV_AWS_SECRET_ACCESS_KEY --profile dev
  - aws configure set aws_access_key_id $TEST_AWS_ACCESS_KEY_ID --profile test
  - aws configure set aws_secret_access_key $TEST_AWS_SECRET_ACCESS_KEY --profile test

script:
  - echo $TRAVIS_BUILD_NUMBER > ./templates/version.txt && cp ./templates/version ./config/version.txt


deploy:
  # Deploys to DEV if build has been tagged dev
  - provider: script
    script:
      - . ./scripts/deploy_dev.sh
    on:
      tags: true
      condition: $TRAVIS_TAG =~ ^dev.*$
    skip_cleanup: true
  # Deploy to test if build has been tagged test
  - provider: script
    script:
      - . ./scripts/deploy_test.sh
    on:
      tags: true
      condition: $TRAVIS_TAG =~ ^test.*$
    skip_cleanup: true
  


after_deploy:
  - echo "Templates have been deployed to S3 Bucket"
